<div class="ui small modal" id="purgespammer-user-modal">
	<div class="header">{{ctx.Locale.Tr "user.purgespammer.modal_title"}}</div>
	<div class="content">
		<div class="ui warning message">{{ctx.Locale.Tr "user.purgespammer.modal_info"}}</div>
		<form class="ui form modal-form" method="post">
			{{.CsrfTokenHtml}}
			<input type="hidden" name="username" class="modal-username" />
			<div class="text right actions">
				<button class="ui cancel button">{{ctx.Locale.Tr "cancel"}}</button>
				<button class="ui red button">{{ctx.Locale.Tr "user.purgespammer.modal_action"}}</button>
			</div>
		</form>
	</div>
</div>
